#portfolio-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px auto;
  gap: 20px;
  max-width: 900px;
  width: 100%;
  padding: 15px 20px;
  background-color: white;
}

.language {
  grid-column: span 2;
}

.experience {
  grid-column: span 3;
}

.education {
  grid-column: span 2;
}

.interests-and-contacts-group {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interests,
.contacts {
  flex: 1;
}


@media (max-width: 880px) {
  #portfolio-layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .language,
  .education,
  .interests-and-contacts-group,
  .experience,
  .tool {
    grid-column: span 2;
  }
}

@media (max-width: 520px) {
  .profile-photo,
  .name {
    grid-column: span 2;
  }
}

