@import './fonts.css';
@import './portfolio-layout.css';
@import './name.css';
@import './language.css';
@import './profile-photo.css';
@import './experience.css';
@import './tool.css';
@import './education.css';
@import './interests.css';
@import './contacts.css';

:root {
  font-family: "Poppins", sans-serif;
  
  --primary-color: #28D979;
  --grey-color: #F0F0F0;

}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--grey-color);
}

section {
	background-color: var(--grey-color);
	padding: 16px;
	border-radius: 12px;
}

